{% extends 'base.html.twig' %}



{% block body %}


<section class="title">
    <div class="title1">
        <h1>{{presentations[0].name}}</h1>

        <h3>{{presentations[0].subtitle}}</h3>
    </div>
</section>
{% endblock %}