{% extends 'admin.html.twig' %}

{% block title %}New Technos{% endblock %}

{% block body %}
    <h1>Create new Technos</h1>

    {{ include('admin/technos/_form.html.twig') }}

    <a href="{{ path('admin_technos_index') }}">back to list</a>
{% endblock %}
