{% extends 'admin.html.twig' %}

{% block title %}New Projects{% endblock %}

{% block body %}
    <h1>Create new Projects</h1>

    {{ include('admin/projects/_form.html.twig') }}

    <a href="{{ path('admin_projects_index') }}">back to list</a>
{% endblock %}
